{% extends 'base.twig' %}

{% block body %}

<div class="container">
    <div class="row">

    {% for post in posts %}

        <div class="col-md-4">
            <a href="/blog/article/{{ post.url }}">
                <div class="title"><h3>{{ post.title }}</h3></div>
                <div class="shortDescription">{{ post.shortDescription }}</div>
            </a>
        </div>

    {% endfor %}

    </div>
</div>

{% endblock %}
