<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="add">
                    <a href="/blog/add" class="border-button">Создать статью</a>
                </div>
            </div>
            <div class="col">
                <div class="read">
                    <a href="/blog/article" class="border-button">Читать статью</a>
                </div>
            </div>

            <div class="col">
                <div class="renew">
                    <a href="/blog/update/{{ url }}" class="border-button">Обновить</a>
                </div>
            </div>

            <div class="col">
                <div class="delete">
                    <a href="/blog/delete/{{ url }}" class="border-button">Удалить</a>
                </div>
            </div>

            <div class="col">
                <div class="list">
                    <a href="/blog/list" class="border-button">Список</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl">
        <div class='title'><h1><b>title:</b> {{ title }} </h1></div><br>
        <div class='id'><b>id:</b> {{ id }} </div><br>
        <div class='url'><b>url:</b> {{ url }} </div><br>
        <div class='cover'><b>cover:</b> {{ cover }} </div><br>
        <div class='shortDescription'><b>short description:</b> {{ shortDescription }} </div>
        <div class='shortDescription'><b>detailed text:</b> {{ detailedText }} </div>
    </div>
    <div class="col-xl-3"></div>
</div>

<footer>

</footer>
</body>
</html>