{% extends 'base.twig' %}

{% block body %}

    <form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl">
                <div class="row">
                    <div class="col">
                        <div class="back">
                            <a href="/blog/article/{{ url }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                                </svg>
                                Отмена
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="edit">
                            <button class="save" type="submit" name="save">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-save" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                                </svg>
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"></div>
        </div>
        <br>

        <div class='row'>
            <div class='col-xl-3'></div>
            <div class='col-xl'>
                <div class='title'><h1><input type='text' name='title' value="{{ title }}" placeholder='title' required></h1></div><br>
                <div class='cover'><input type='file' name='image'><img src='/blog/img/{{ cover }}' alt='Ошибочка(' width='100%';></div><br>
                <div class='category'><input type='text' name='category' value='{{ category }}' placeholder='category' required></div><br>

                <div class='shortDescription'>
                    </div>
                <p><textarea name='shortDescription' placeholder='shortDescription' rows='20' required>{{ shortDescription }}</textarea>

                    <div class='text'>
                    </div>
                <p><textarea name='detailedText' placeholder='detailedText' rows='20' required>{{ detailedText }}</textarea>

                    </div>
            <div class='col-xl-3'></div>
            </div>
    </form>

{% endblock %}