a {
    text-decoration: none;
    color: black;
}

.col-md-4:hover {
    background: #fafafa;
}

a:hover {
    color: black;
}

.add{
    text-align: center;
}
.border-button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: black;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.border-button:before, .border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}
.border-button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.border-button:after {
    top: 0;
    right: 0;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.border-button:hover:before,
.border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.border-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.border-button:hover {
    background: rgba(255, 255, 255, .2);
}

.col-xl .title h1{
    text-align: center;
}

.category{
    color: gray;
}

.back a{
    text-decoration: none;
    color: black;
}

.edit a{
    text-decoration: none;
    color: black;
}

.edit{
    text-align: right;
}

textarea{
    width: 100%;
}

.save{
    background: none;
    border: 0;
}

.bi-save{
    transform: rotate(180deg);
}
